<!DOCTYPE html>
<!-- Common Header Fragment -->

<div class="header-section" th:fragment="header">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><p>TofT</p></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/index/" ><p>Home</p></a>
      <a class="nav-item nav-link" href="/products/"><p>Treasures Page</p></a>
      <a class="nav-item nav-link" href="/products/catalog"><p>All Treasures</p></a>
      <a class="nav-item nav-link" href="/products/addNewForm"><p>Listing</p></a>
      <a class="nav-item nav-link" href="/products/editForm"><p>Update Product</p></a>
      <a class="nav-item nav-link" href="/products/searchForm"><p>Search</p></a>
      <a class="nav-item nav-link" href="/login/"><p>Register/Login</p></a>
      <a class="nav-item nav-link" href="/products/delete"><p>Delete</p></a>
    </div>
  </div>
</nav>
</div>
